
<html>
<head>
	<title>Savol va Javob</title>
	<style>
		label {
			font-weight: bold;
		}

		input[type="radio"] {
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<div align="center" style="padding-bottom: 500px;" class="container">
		<h1>To'g'ri javob : 24</h1>
		<h1>Xato javob : 7</h1>
		<br><br>
		<button class="btn"><a href="/home/index">Orqaga</a></button>

	</div>
</body>
</html>
